.click_here {
  font-weight: bold;
  cursor: pointer;
  margin: 0px 5px;
}
.myasset_header {
  margin-top:40px;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 0.7rem !important;
} 
.legend_box {
  margin:0px 10px;
}
.legend_span {
  margin:0px 3px 13px;
}