body {
  font-family: "Arimo", sans-serif;

  background-color: #fafaf8!important;
}

h1 {
  font-family: "Arimo", sans-serif;

}
.header {
  text-align: center;
  margin: auto;
}
.header h1 {
  font: 40px;
   color:black;
}
.filtered_div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:60%;
  padding: 15px;
  color: black;
  margin: 20px;
  background-color:#ECFBFF;
}
.not_filtered_div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 10px 5px;
  margin: 20px 10px;
  color: black;
  background-color:#ECFBFF;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width:30%;
}
.filter_btn {
  color:black;
  margin:-3px 5px 0px;

}

@media screen and (max-width: 500px) {
  .filtered_div {
    width:100%;
    margin:10px;
  }
  .filter_btn {
    color:black;
    margin:0px 0px 4px;
  }
  .not_filtered_div {
    width:100%;
  }
}
@media screen and (max-width: 900px) {

  .not_filtered_div {
    width:40%;
  }
  .filter_btn {
    color:black;
    margin:0px;
  
  }
  
}

.click_here_span {
  font-weight: 700;
  margin: 10px 0px 0px 20px;
  cursor: pointer;
  padding: 5px;
}

.click_here_span:hover {
  border-bottom: 1px solid black;
}
.not_filtered_divs {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  width: 50%;
  color: white;
}
.not_filtered_divs h6 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 10px 5px;
  width: 52%;
}
.page_button {
  margin: 10px 40px 64px;
}
.seen_all_header {
  color: black;
  margin: 20px 0px 56px;
    text-align: center;
}

.chatbot {
  position: fixed;
  right: 0px; bottom: 0px; 
  margin:5px;
  z-index :9;
}
.not_verified {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: center;
  background: #22262A;
  color: white;
}