.ip-add-cart {
  position: relative;
  top: 15px;
  border: none;
  padding: 12px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease-in;
  width: 333px;
  margin: 10px;
  font-family: arial;
  font-size:15px;
}
.ip-add-cart.facebook {
  background: #0c89ef;
  box-shadow: 0px 5px 5px #0c89ef;
  margin-bottom: 40px;
  padding:12px 20px;
}
.ip-add-cart.facebook:hover {
  background: #1897ff;
  transform: scale(1.05);
}

.ip-add-cart.whatsapps:hover {
  transform: scale(1.05);
}
.ip-add-cart.whatsapps {
  background: #17980e;
  box-shadow: 0px 5px 5px #17980e;
  margin-bottom: 40px;
  text-transform: lowercase;

}
.whatapp_div {
  cursor: pointer;
}

.ip-add-cart.whatsapp:hover {
  background: #42a03c;
}
.map_div {
  width:40vw;
  height:400px;
  margin:auto;
}
@media screen and (max-width: 1000px) {

  .map_div {
    width:80vw;
  }
}

@media screen and (max-width: 800px) {
  .ip-add-cart {
    max-width: 100%;
  }
  .more_details {
    width: 90vw !important;
  }
  
}
.contact_btn_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.more_details {
  margin: 25px  auto;;
  width: 500px;
  border: 2px solid lightgrey;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.more_details h4 {
  margin-bottom: 10px;
}

.not_relevant {
  margin-bottom: 30px;
  font-weight: bold;
  cursor: pointer;

}
.not_relevant:hover {
  text-decoration: underline;
}
.btns_div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btns_div button {
  margin: 10px;
  width: 17%;
}
