.price_span {
  font-weight: 700;
}
.MuiAlert-message {
  margin: 0px 5px;
}
.MuiFormHelperText-root {
  text-align: right;
}
.fliter_header {
  display: inline-block;
}
.filter_item {
  margin:10px 0px 15px 6px;
  font-weight: 600;
}