.iITBvu {
    animation: 0.3s ease 0s 1 normal forwards running Lmuha;
    background: rgb(239, 108, 0);
    border-radius: 18px;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 2px 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    /* max-width: 74%; */
    margin: 10px 32px 25px 46px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    transform: scale(0);
    transform-origin: left top;
}
.efROPc {
    width:460px;
}