.popup-content {
    background-color: #fafaf8 ;
}

.popup_flexbox {
    background-color: #fafaf8;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arimo";
}